.page-wrapper {
  position: absolute;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 40rem;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.page-padding {
  padding-right: 2rem;
  padding-left: 2rem;
}

.external-link {
  font-weight: 700;
}

.text-link {
  transition: color 200ms ease;
}

.text-link:hover {
  color: var(--golden);
}

.icon {
  display: flex;
  flex-direction: column;
}

.rtb h2 {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.rtb h3 {
  margin-top: 3rem;
  margin-bottom: 1.25rem;
}

.rtb h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.rtb img {
  border-radius: 0.75rem;
}

.rtb p {
  margin-bottom: 1rem;
}

@media screen and (max-width: 479px) {
  .page-padding {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
