body {
  background-color: #111;
  font-family: Inter, sans-serif;
  color: #eaeaea;
  font-size: 0.875rem;
  line-height: 1.5;
}

h1 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #fff;
  font-size: 3rem;
  line-height: 1.25;
  font-weight: 700;
}

h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #fff;
  font-size: 1.75rem;
  line-height: 1.2;
  font-weight: 700;
}

h3 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.25;
  font-weight: 700;
}

h4 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 1rem;
  line-height: 1.3333333333333333;
  font-weight: 700;
}

p {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

img {
  display: inline-block;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.container {
  width: 100%;
  max-width: 40rem;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.header__logo {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
}

.header__logo:hover {
  color: #f7c75f;
}

.header__header {
  padding-top: 8rem;
}

.header__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.external-link {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-weight: 700;
}

.external-link:hover {
  opacity: 0.5;
}

.external-link.is-svelte {
  color: #ff3e00;
}

.external-link.is-webflow {
  color: #4353ff;
}

.external-link.is-finsweet {
  color: #f7c75f;
}

.external-link.is-typescript {
  color: #3178c6;
}

.writing-item__wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 1rem;
}

.writing-list-header__wrapper {
  position: relative;
  margin-bottom: 2rem;
}

.header__links {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  grid-column-gap: 1rem;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.writing-list-header__filter {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0.5rem;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}

.writing-list-header__filter.is-active {
  color: #f7c75f;
}

.writing-list-header__filter-pin {
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 999px;
  background-color: #f7c75f;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

.page-padding {
  position: relative;
  padding-right: 2rem;
  padding-left: 2rem;
}

.header__link {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}

.header__link:hover {
  color: #f7c75f;
}

.header__logo-a {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #f7c75f;
}

.hidden {
  display: none;
}

.writing-list-header__filters {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  text-align: right;
}

.icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.icon.header__icon {
  width: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.writing-item__date {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 0.75rem;
}

.work-list__wrapper {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.work-item__wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.work-item__img {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.work-item__highlight {
  position: absolute;
  left: -1rem;
  top: -1rem;
  right: -1rem;
  bottom: -1rem;
  z-index: -1;
  border-radius: 0.5rem;
  background-color: #333;
  opacity: 0;
  -webkit-transition: opacity 200ms cubic-bezier(.165, .84, .44, 1);
  transition: opacity 200ms cubic-bezier(.165, .84, .44, 1);
}

.work-item__img-wrapper {
  position: relative;
  margin-bottom: 1rem;
  padding-top: 75%;
}

.writing-item__highlight {
  position: absolute;
  left: -1rem;
  top: 0rem;
  right: -1rem;
  bottom: 0rem;
  z-index: -1;
  border-radius: 0.5rem;
  background-color: #333;
  opacity: 0;
  -webkit-transition: opacity 200ms cubic-bezier(.165, .84, .44, 1);
  transition: opacity 200ms cubic-bezier(.165, .84, .44, 1);
}

.work-item__tag {
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  background-color: hsla(0, 0%, 91.8%, 0.25);
  font-size: 0.75rem;
}

.work-item__tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.25rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.text-lg {
  font-size: 1.25rem;
}

.writing-header__wrapper {
  margin-bottom: 8rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.writing-header__meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}

.writing-author__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 0.5rem;
}

.writing-author__img {
  width: 3rem;
  height: 3rem;
  border-radius: 999rem;
}

.writing-author__a {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #f7c75f;
  font-size: 0.75rem;
}

.writing-author__a:hover {
  opacity: 0.75;
}

.writing-header__date {
  font-size: 0.75rem;
}

.rtb h2 {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.rtb h3 {
  margin-top: 3rem;
  margin-bottom: 1.25rem;
}

.rtb h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
  .work-list__wrapper {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .page-padding {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .work-list__wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter-v3-latin-500.woff2') format('woff2'), url('../fonts/inter-v3-latin-500.eot') format('embedded-opentype'), url('../fonts/inter-v3-latin-500.woff') format('woff'), url('../fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter-v3-latin-regular.woff2') format('woff2'), url('../fonts/inter-v3-latin-regular.eot') format('embedded-opentype'), url('../fonts/inter-v3-latin-regular.woff') format('woff'), url('../fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('../fonts/inter-v3-latin-700.woff2') format('woff2'), url('../fonts/inter-v3-latin-700.eot') format('embedded-opentype'), url('../fonts/inter-v3-latin-700.woff') format('woff'), url('../fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}