.page-wrapper {
  position: absolute;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 40rem;
  margin-right: auto;
  margin-left: auto;
}

.section {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.page-padding {
  padding-right: 2rem;
  padding-left: 2rem;

  @include respond(portrait) {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.external-link {
  font-weight: 700;
}

.icon {
  display: flex;
  flex-direction: column;
}
